body {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	width: 100vw;
	display: flex;

	overflow-x: hidden;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	opacity: 87%;
	padding: 0;
	opacity: 60%;
	color: rgb(55, 158, 158);
	color: linear-gradient(90deg, rgba(55, 158, 158, 1) 0%, rgba(87, 56, 143, 1) 75%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	width: 15rem;
	height: 4rem;
	background-color: #111;
	color: #fff;
	border-radius: 0.4rem;
	font-size: 3rem;
	text-transform: uppercase;
	margin-right: 1rem;
	padding: 1rem;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

header {
	width: 100%;
	height: 6rem;
}

main {
	width: 100%;
	flex-grow: 1;
	overflow-y: scroll;
}

footer {
	width: 100%;
	background-color: #fff;
}

small {
	color: #000;
}
